@keyframes opening-heroes-list {
   0% {
      transform: translateY(-50px) translateX(-80px); /* Начальное плоское положение, поворот на 180 градусов */
      opacity: 0; /* Элемент полностью невидим */
   }

   100% {
      transform: translateY(0) translateX(0); /* Нормальный размер и положение */
      opacity: 1; /* Полная видимость */
   }
}

@keyframes opening-show-heroes {
   0% {
      filter: grayscale(1);
      transform: scale(0.3) rotate(135deg) translateY(0px); /* Начальное плоское положение, поворот на 180 градусов */
      opacity: 0; /* Элемент полностью невидим */
   }
   100% {
      filter: grayscale(0);
      transform: scale(1) rotate(0) translateY(0); /* Нормальный размер и положение */
      opacity: 1; /* Полная видимость */
   }
}

@keyframes light-spark {
   0% {
      opacity: 0;
   }
   25% {
      opacity: 1;
   }
   100% {
      opacity: 0;
   }
}

@keyframes pulsating {
   0% {
      scale: 1;
      filter: blur(5px);
      
   }
   100% {
      scale: 1.05;
      filter: blur(55px);
   }
}

@keyframes scroll-up {
   0% {
       transform: translateY(100%);
       opacity: 0;
   }
   100% {
       transform: translateY(0);
       opacity: 1;
   }
}

@keyframes search-data-goes-out {
   0% {
       opacity: 1;
       filter: blur(0em);
       
   }
   // 50% {
   //    // opacity: 0;
   //    // filter: blur(2em);
   // }
   100% {
       opacity: 0;
       filter: blur(0.5em);
   }
}

@keyframes bounce {
   0% {
      transform: translatex(-0.5rem);
   }

   10% {
      transform: translatex(0.5rem);
   }

   20% {
      transform: translatex(0);
   }

   100% {
      transform: translatex(0);
   }
}

@keyframes go-last-change-text {
   0% {
       opacity: 0;
       transform: translateY(1em);
   }
   100% {
       opacity: 1;
       transform: translateY(0);
   }
}

@keyframes go-last-change-number {
   0% {
      opacity: 1;
      transform: translateY(0);
  }
  100% {
      opacity: 0;
      transform: translateY(1em);
  }
}

@keyframes hello {
   0% {
      opacity: 0.1;
      
   }
   100% {
      opacity: 0.8;
   }
}

@keyframes last-hero-indicator-lightning {
   0% {
      opacity: 0.6;
      filter: brightness(1);
      
   }
   100% {
      opacity: 1;
      filter: brightness(2);
   }
}

@keyframes new-option {
   0% {
      scale: 1;
      rotate: -15deg;
      
   }
   25% {
      scale: 1.2;
      // rotate: 0deg;
      
   }
   50% {
      scale: 1;

   }
   75% {
      scale: 1.2;

   }
   100% {
      scale: 1;
      rotate: 15deg;
   }
}

@property --first-r {
   syntax: "<number>";
   initial-value: 255;
   inherits: false;
}

@property --first-g {
   syntax: "<number>";
   initial-value: 0;
   inherits: false;
}

@property --first-b {
   syntax: "<number>";
   initial-value: 255;
   inherits: false;
}

@property --second-r {
   syntax: "<number>";
   initial-value: 0;
   inherits: false;
}

@property --second-g {
   syntax: "<number>";
   initial-value: 255;
   inherits: false;
}

@property --second-b {
   syntax: "<number>";
   initial-value: 221;
   inherits: false;
}

@keyframes searched-light-colors {
   0% {
      --first-r: 255;
      --first-g: 0;
      --first-b: 255;
      --second-r: 0;
      --second-g: 255;
      --second-b: 221;
   }
   50% {
      --first-r: 255;
      --first-g: 121;
      --first-b: 121;
      --second-r: 117;
      --second-g: 119;
      --second-b: 255;
   }
   100% {
      --first-r: 255;
      --first-g: 0;
      --first-b: 128;
      --second-r: 0;
      --second-g: 140;
      --second-b: 255;
   }
}

@property --angle {
   syntax: "<angle>";
   initial-value: 0deg;
   inherits: false;
}

@keyframes searched-light-spinning {
   0% {
      --angle: 0deg;
   }
   100% {
      --angle: 360deg;
   }
}

@keyframes searched-image-spark {
   0% {
      filter: brightness(2);
   }
   20% {
      filter: brightness(1);
   }
   100% {
      filter: brightness(2);
   }
}

@keyframes searched-image-sparking{
   0% {
      filter: brightness(2);
   }
   100% {
      filter: brightness(1);
   }
}

@keyframes pre-final-image-sparking{
   0% {
      filter: brightness(2);
   }
   100% {
      filter: brightness(1);
   }
}

@keyframes header-moved {
   0% {
      transform: translateY(0);
   }
   100% {
      transform: translateY(-100%);
   }
}

@property --a-first-r {
   syntax: "<number>";
   initial-value: 255;
   inherits: false;
}

@property --a-first-g {
   syntax: "<number>";
   initial-value: 0;
   inherits: false;
}

@property --a-first-b {
   syntax: "<number>";
   initial-value: 255;
   inherits: false;
}

@property --a-second-r {
   syntax: "<number>";
   initial-value: 0;
   inherits: false;
}

@property --a-second-g {
   syntax: "<number>";
   initial-value: 255;
   inherits: false;
}

@property --a-second-b {
   syntax: "<number>";
   initial-value: 221;
   inherits: false;
}

@keyframes pre-final-light-colors {
   0% {
      --a-first-r: 255;
      --a-first-g: 255;
      --a-first-b: 255;
      --a-second-r: 0;
      --a-second-g: 255;
      --a-second-b: 221;
   }
   50% {
      --a-first-r: 255;
      --a-first-g: 255;
      --a-first-b: 255;
      --a-second-r: 117;
      --a-second-g: 119;
      --a-second-b: 255;
   }
   100% {
      --a-first-r: 255;
      --a-first-g: 255;
      --a-first-b: 255;
      --a-second-r: 222;
      --a-second-g: 222;
      --a-second-b: 255;
   }
}

///Thinking
/// 
/// 

@keyframes thinking-image-sparking{
   0% {
      filter: brightness(2);
   }
   100% {
      filter: brightness(1);
   }
}

@property --b-first-r {
   syntax: "<number>";
   initial-value: 255;
   inherits: false;
}

@property --b-first-g {
   syntax: "<number>";
   initial-value: 0;
   inherits: false;
}

@property --b-first-b {
   syntax: "<number>";
   initial-value: 255;
   inherits: false;
}

@property --b-second-r {
   syntax: "<number>";
   initial-value: 0;
   inherits: false;
}

@property --b-second-g {
   syntax: "<number>";
   initial-value: 255;
   inherits: false;
}

@property --b-second-b {
   syntax: "<number>";
   initial-value: 221;
   inherits: false;
}

@keyframes thinking-stay-light-colors {
   0% {
      --b-first-r: 255;
      --b-first-g: 255;
      --b-first-b: 255;
      --b-second-r: 55;
      --b-second-g: 146;
      --b-second-b: 239;
   }
   50% {
      --b-first-r: 255;
      --b-first-g: 255;
      --b-first-b: 255;
      --b-second-r: 255;
      --b-second-g: 0;
      --b-second-b: 255;
      
   }
   100% {
      --b-first-r: 255;
      --b-first-g: 255;
      --b-first-b: 255;
      --b-second-r: 236;
      --b-second-g: 153;
      --b-second-b: 31;
   }
}