.show-hero {
   font-size: 10px;
   border-radius: 1.6em;
   overflow: hidden;
   width: 30vw;
   height: fit-content;
   max-width: 30vw;
   font-family: "Open Sans";
   // background-color: #47545a;
   // background-image: url("../assets/heroes/loadout/loadout_bg_field_001.jpg");
   // background-position: center;
   // background-repeat: no-repeat;
   // background-size: cover;
   // object-fit: cover;
   // object-position: center;
   // box-shadow: inset 0 50px 150px #000;
   // border: 12px #ffffff solid;
   // max-width: 25vw;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 0;
   position: relative;
   &__background {
      // box-shadow: inset 0 0 5em #ffffff;
      filter: blur(1em) brightness(0.3) contrast(1);
      position: absolute;
      width: calc(100% + 2.1em);
      height: calc(100% + 2.1em);
      background-image: var(--showhero-data-background);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      object-fit: cover;
      object-position: center;
   }
   &__hello {
      opacity: 0;
      transform: translateY(-100px);
      color: #727272;
      mix-blend-mode: color-dodge;
      user-select: none;
      opacity: 1;
      margin-top: 1em;
      font-size: 3em;
   }
   &__title {
      margin-top: 0.2em;
      opacity: 0;
      transform: scale(1.2);
      padding: 0 0.5em;
      mix-blend-mode: color-dodge;
      // mask-image: linear-gradient(to top, transparent 0%, black 90%);
      user-select: none;
      line-height: 1em;
      text-align: center;
      color: #aaaaaa;
      text-shadow: 4px 2px 2px #bebebe5e;
      // background-image: linear-gradient(to top, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
      // color: transparent;
      // -webkit-background-clip: text;
      // background-clip: text;
      white-space: wrap;
      font-size: 7.5em;
   }
   &__video-box {
      position: relative;
      z-index: auto;
      width: 100%;
      // &::before {
      //    content: "";
      //    position: absolute;
      //    bottom: 0;
      //    left: 50%;
      //    transform: translate(-50%, 75%);
      //    width: 95%;
      //    height: 20em;
      //    background-color: #fc101041;
      //    z-index: 0;
      // }
      // &::after {
      //    content: "";
      //    position: absolute;
      //    bottom: 0;
      //    left: 50%;
      //    transform: translate(-50%, 0%) perspective(500px) rotateX(30deg);
      //    width: 95%;
      //    height: 10em;
      //    background-color: #797979;
      //    border-radius: 100%;
      //    z-index: 1;
      // }
   }
   &__video {
      display: flex;
      justify-content: center;
      align-items: center;
      // transform: scale(2);
      opacity: 0;
      // filter: drop-shadow(1.5em 1em 1.5em #000000);
      // margin-bottom: 2em;
      user-select: none;
      pointer-events: none;
      mask-image: linear-gradient(to top, transparent 1%, black 15%);
      width: 80%;
      margin-left: 10%;
      position: relative;
      z-index: 2;
   }
   &__pedestal {
      transform: translateY(18em);
      z-index: auto;
      &-circle {
         content: "";
         position: absolute;
         bottom: 0;
         left: 50%;
         transform: translate(-50%, 15%) perspective(500px) rotateX(30deg);
         width: 95%;
         height: 15em;
         background-color: #2c3333;
         background-image: url("../assets/images/red.jpg");
         border-radius: 100%;
         z-index: 1;
         border: 1em solid #0000005b;
         // &::before {
         //    content: "";
         //    position: absolute;
         //    top: 50%;
         //    left: 50%;
         //    transform: translate(-50%, -50%) perspective(500px) rotateX(30deg);
         //    height: calc(100% + 1em);;
         //    width: calc(100% + 1em);
         //    border-radius: 100%;
         //    background-color: #ffffff60;
         //    z-index: 0;
         // }
      }
      &-base {
         content: "";
         position: absolute;
         bottom: 0;
         left: 50%;
         transform: translate(-50%, 75%);
         width: 95%;
         height: 20em;
         background: repeating-linear-gradient(
            90deg,
            rgba(0, 0, 0, 0.75),
            rgba(0, 0, 0, 0.75) 6.25%,
            rgba(131, 0, 0, 0.75) 6.25%,
            rgba(131, 0, 0, 0.75) 12.5%
         );
         z-index: 0;
      }
   }

   .buttons-bar {
      padding: 1em 1em;
      font-size: 1em;
      margin-top: 2.5em;
      margin-bottom: 0em;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1em;
      transform: translateY(10em);
      z-index: 2;

      .button {
         width: 50%;
         font-family: "Tiny5";
         transition: 0.1s ease;
         cursor: pointer;
         // height: 2em;
         font-size: 2.6em;
         font-weight: 600;
         border-radius: 0.55em;
         &-accept {
            padding: 0.3em 0.5em;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            text-transform: uppercase;
            background-color: #1fffa970;
            // box-shadow: inset 0 0 1.3em #0000007c, 0 -0.2em 0.6em rgba(0, 0, 0, 0.8);
            box-shadow: 0 0.2em 0 #1d816b;
            display: flex;
            z-index: 3;
            color: #000000c5;
            &:hover {
               background-color: #00ffd5;
               color: rgb(0, 0, 0);
            }
            &:active {
               transform: translateY(0.2em);
               box-shadow: 0 0 0 #00ff9d;
               background-color: #00ff9d;
               color: rgb(0, 0, 0);
            }
         }
         &-retry {
            padding: 0.3em 0.5em;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            text-transform: uppercase;
            background-color: #00b7ff70;
            // box-shadow: inset 0 0 1.3em #0000007c, 0 -0.2em 0.6em rgba(0, 0, 0, 0.8);
            box-shadow: 0 0.2em 0 #1d6781;
            display: flex;
            z-index: 3;
            color: #000000c5;
            &:hover {
               background-color: #00a2ff;
               color: rgb(0, 0, 0);
            }
            &:active {
               transform: translateY(0.2em);
               box-shadow: 0 0 0 #1d6781;
               background-color: #00a2ff;
               color: rgb(0, 0, 0);
            }
         }
      }
   }

   // .close__button {
   //    font-size: 2em;
   //    width: fit-content;
   //    position: absolute;
   //    background-color: transparent;
   //    top: 5px;
   //    right: 10px;
   // }
}
