$main-bg: #2e2e2e;
$header-bg: #242424;
$main-text: #fff;
$major-text: #b0b0b0;
$minor-text: #313131;
$blocks: #1a1a3d;
$xxx: -50%;
$yyy: -50%;
$nav-bg: rgb(18, 16, 20);
$nav-bg-lighter: rgb(34, 31, 37);
$nav-shadow-light: rgb(28, 26, 30);
$nav-shadow-dark: rgb(8, 6, 10);
$nav-text-dark: rgb(91, 88, 94);
$nav-text-light: rgb(145, 141, 150);